.banner {
  height: 150px;
  position: relative;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: bottom;
}  
.logo {
  width: 400px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}  
.banner p {
  width: 100%;
  position: absolute;
  left: 0;
  top: 60px;
  font-family: "Amazon Ember", Arial, Helvetica, Sans-serif;
  font-size: x-large;
  color: #063d27;
  font-weight: bold;
  text-align: center;
}
.ribbon {
  z-index: 1;
  background-color: #003D06;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  right: -50px;
  top: 40px;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
	-webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}
.ribbon a {
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 5px #444;
}

#wrap {
  margin: 0 auto;
  width: 1060px;
}
#content {
  clear:both;
  padding-top:12px;
  height: 333px;
}
#title {
  /* font-family: Verdana, Arial, Helvetica, Sans-serif; */
  font-size: 9pt;
  font-weight: bold;
  text-align: right;
  padding-top: 25px;
  padding-left: 120px;
}
.desc {
  font-size: 9pt;
  padding-top: 8px;
  padding-bottom: 10px;
  position: relative;
  top: 24px;
}
#divLogos {
  display: flex; 
  align-items: center; 
  justify-content: space-between;
}
#app {
  padding-top: 38px;
}